---
import BaseLayout from '../../layouts/BaseLayout.astro';
import GroupsBrowser from '../../components/groups/GroupsBrowser';
import JoinUsButton from '../../components/groups/JoinUsButton';
import { aboutHighlights } from '../../data/about';
import { members } from '../../data/members';

const group = aboutHighlights[0];
---

<BaseLayout title="Groups | 日本文化研究社">
	<main class="mx-auto max-w-6xl px-6 pb-20">
		<GroupsBrowser client:load group={group} members={members} />
	</main>

	<JoinUsButton client:load />
</BaseLayout>
