---
import Welcome from '../components/Welcome';
---

<html lang="zh-Hant">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<link rel="icon" href="/favicon.ico" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>國立陽明交通大學 日本文化研究社</title>
	</head>
	<body>
		<h1>國立陽明交通大學 日本文化研究社</h1>
		<Welcome client:load />
	</body>
</html>
