---
import '../styles/global.css';
import Navbar from '../components/Navbar';
import Footer from '../components/Footer.astro';

interface Props {
  title?: string;
  navVariant?: 'overlay' | 'solid';
}

const { title = '國立陽明交通大學 日本文化研究社', navVariant = 'solid' } = Astro.props;
---

<html lang="zh-Hant">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<link rel="icon" href="/favicon.ico" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	</head>
	<body>
		<Navbar client:load currentPath={Astro.url.pathname} variant={navVariant} />
		<slot />
		<Footer />
	</body>
</html>
